{% extends theme('admin/master.html') %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>快捷操作 </h5>
      </div>
      <div class="ibox-content">
        <div class="table-responsive">
          <div class="span1">
          {% for endpoint, icon, text in config.get('ADMIN_ICONS', [])%}
            <a href="{{ url_for(endpoint) }}" class="btn btn-primary">
              <i class="icon-{{icon}} icon-white"></i>
              <span><strong>{{_gettext(text)}}</strong></span>
            </a>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>最近添加的文章列表 </h5>
      </div>

      <div class="ibox-content">
        <div class="table-responsive">
          {% with posts = get_contents(model="posts.post", limit=5) %}
          {% if posts %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID </th>
                <th>分类 </th>
                <th>标题 </th>
                <th>来源 </th>
                <th>添加时间 </th>
                <th>修改时间 </th>
                <th>是否上线 </th>
                <th>操作 </th>
              </tr>
            </thead>
            <tbody>
            {% for post in posts %}
            <tr>
              <td>{{ post.id }}</td>
              <td>{{ post.channel }}</td>
              <td>{{ post.title }}</td>
              {% if post.source %}
              <td>{{ post.source }}</td>
              {% else %}
              <td>{{ "原创" }}</td>
              {% endif %}
              <td>{{ post.created_at }}</td>
              <td>{{ post.updated_at }}</td>
              {% if post.published %}
              <td><i class="fa fa-check text-navy"></i></td>
              {% else %}
              <td><i class="fa fa-times"></i></td>
              {% endif %}
              <td>
                <a class="btn btn-success btn-small" href="{{ url_for('post.edit_view', id=post.id)}}">
                  <i class="icon-edit"></i> {{_gettext('Edit')}}</a>
                <a class="btn btn-primary btn-small" target="_blank" href="{{ post.get_absolute_url(endpoint='wheel.core.detail' if post.published else 'wheel.core.preview') }}">
                  <i class="icon-globe"></i> {{'预览' if post.published else '预览'}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          <li>{{ "一篇文章都还没有呢。。。" }}<br><a class="btn btn-primary" href="{{ url_for('post.create_view') }}"><i class="icon-pencil"></i> {{"添加一篇新的文章"}}</a></li>
          {% endif %}
          {% endwith %}
        </div>
      </div>
  </div>
</div>

{% endblock %}
